jobs:
  include:
    - stage: "Python tests"
    script: pytest src/tests

    - stage: "Node tests"
    script: npm test --directory src/tests

    branches:
      except:
        - /documentation.*/
        - /doc_.*/